*.egg-info
__pycache__/
test.py
test_stream.py
.venv
.env

!hub-proxy/docker-compose.yml
.DS_Store

output.txt
play.py
packages
*.pickle
*.json
*.npy
models.txt
vllm
config.json
*.log
*.txt
!requirements.txt
!gpu_remote_policy.json
!switch_remote_policy.json

traefik.https.toml
