bittensor==9.0.0
pandas==2.2.2
datasets==3.2.0
huggingface_hub==0.27.0
numpy==2.0.1
sentencepiece==0.2.0
plotext==5.2.8
openai==1.44.1
asyncpg==0.29.0
fastparquet==2024.5.0
nanoid==2.0.0
accelerate==0.34.2
docker==7.1.0
python-dotenv==1.0.1
transformers==4.46.2
