bittensor==7.1.2
huggingface_hub==0.23.4
pandas==2.2.2
numpy==1.26.4
sentencepiece==0.2.0
protobuf==5.27.2
plotext==5.2.8
openai==1.44.1
asyncpg==0.29.0
fastparquet==2024.5.0
nanoid==2.0.0
dask[dataframe]==2024.8.0
vllm==0.6.0
accelerate==0.34.2
docker==7.1.0
